body {
	background-color: rgb(250, 260, 200);
}

h1 {
	margin-top: 250px;
	text-align: center;
	color: red;
	font-weight: bolder;
	font-size: 70px;
}

.questions, div {
	text-align: center;
	font-family: serif;
	font-size: 30px; 
	margin-top: 20px;


}

#fancy {
	margin-top: -40px;
}

