
.header {
	width: 1000px;
	height: 120px;
	background-color: yellow;
	font-family: sans-serif;
	border-style: solid;
	font-size: 25px;
	padding-left: 305px;
	}

.container {
	margin-right: 22px;
}

.header h3 {
		font-size: 15px;
		margin-bottom: 15px;
	}

.welcome {
		height: 280px;
		width: 400px;
		margin-right: 13px;
		font-size: 20px;
		font-weight: bold;
		font-family: sans-serif;	
		border-style: solid;
		float: right;
	}

.welcome p {
		padding-left: 10px;
	}

.welcome span {
		color: red;
	}

.image img {
		padding-left: 300px;
		
	}

.ourselves {
		height: 150px;
		width: 1300px;
		font-size: 15px;
		font-weight: bold;
		font-family: sans-serif;	
		border-style: solid;
		float: left;
		background-color: yellow;
	}
	
.ourselves p {
		padding-left: 10px;
		text-align: center;
	}

.ourselves span {
		font-style: italic;
		font-size: 10px;
	}

