#mebody {
	background: white;

}
/*theres an extra closing "}"" here. modern browsers are smart but css sytax discrepencies can break your styles */
}
	
}

 h1 {
	font-family: helvetica;
	font-size: 20px;
}

 h2 {
	font-color: yellow;
	font-family: helvetica;
	font-size: 14px;
}

/*change these along with the corresopnding html since you need .ul1 make them a class.  also don't need a seperate name or class for each element since they all have the same style.*/
ul1{
	text-decoration: underline;
}

ul2{
	text-decoration: underline;
}

ul3{
	text-decoration: underline;
}

ul4{
	text-decoration: underline;
}

/*space after "ul" before "{" (and same for some other elements in this stylesheet)*/
ul{
	text-decoration: underline;
}

#list1 {
	color: green;
	text-decoration: underline;
	
}

#list2 {
	color: green;
	text-decoration: underline;
	
}

#mebody {
	font-weight: bold;
}

#back {
	text-decoration: underline;
	font-weight: bold;
	color: green;
}

#coolbody {
	color: blue;
	background-color: black;
}


